---
import Layout from "../layouts/Layout.astro";

import Nav from "../sections/Nav.astro";
import Hero from "../sections/Hero.astro";
---

<Layout>
	<Nav/>
	<main>
		<Hero/>
	</main>
	<!-- <About> -->
	<!-- <Services> -->
	<!-- <Feed/> -->
</Layout>