---
import Layout from "../layouts/Layout.astro";

import Nav from "../sections/Nav.astro";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Feed from "../sections/Feed.astro";
import Services from "../sections/Services.astro";
import Footer from "../sections/Footer.astro";
---

<Layout>
	<Nav/>
	<Hero/>
	<main class="space-y-10 md:space-y-24 mb-20">
		<About/>
		<Feed/>
		<Services/>
	</main>
	<Footer/>
</Layout>