---
export interface Props {
    colors?: string;
    weight?: string;
    border?: boolean;
    href?: string;
}

const { colors = "text-background bg-text", weight, border = false, href = "/" } = Astro.props;
---

<a href={href} class={`
        ${border && "ring-2 ring-inset ring-accent"}
        ${colors}
        ${weight}
        px-8 py-1.5 box-border text-center hover:scale-105 transition-transform
    `}>
    <slot />
</a>