---
import Button from "../components/Button.astro";
---

<section class="center">
    <div class="flex flex-col items-center gap-4">
        <div class="w-[2px] h-10 bg-accent"/>
        <h2 class="font-bold text-sm">A BIT ABOUT US</h2>
    </div>
    <div class="flex">
        <div class="flex-1">

        </div>
        <div class="flex flex-col flex-1 gap-6 items-start">
            <h3 class="text-4xl font-stix">OUR PASSION</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Vel volutpat quam platea elementum velit est amet eget arcu. Aenean consequat elementum rhoncus aliquet sit risus facilisi metus. Donec urna mi et varius. Sed ac quam mi elit vel.</p>
            <Button border colors="bg-transparrent">SEE WHAT WE OFFER</Button>
        </div>
    </div>
</section>