---
import Button from "../components/Button.astro";
---

<section class="w-full h-[35vh] bg-accent">
    <div class="flex flex-col w-fit h-full m-auto text-center justify-center items-center space-y-2">
        <img src="/images/logo.svg" width="220" alt="Em'z"/>
        <span>HAIR, NAILS & BEAUTY</span>
        <div class="flex space-x-3 pt-8">
            <Button href="#services" weight="font-thin">BOOK NOW</Button>
            <Button href="#test" colors="bg-accent2 text-background" weight="font-medium">PRICING</Button>
        </div>
    </div>
</section>