---
import { social } from "../config";
import { Icon } from "astro-icon";
import Button from "../components/Button.astro";
---

<section id="home" class="w-full h-fit pt-24 pb-14 bg-accent">
    <div class="flex flex-col w-fit h-full m-auto text-center justify-center items-center space-y-2">
        <img src="/images/logo.svg" width="220" alt="Em'z"/>
        <h1>HAIR, NAILS & BEAUTY</h1>
        <div class="flex space-x-3 pt-8">
            <Button href="#services" weight="font-thin">BOOK NOW</Button>
            <Button href="#services" colors="bg-accent2 text-background" weight="font-medium">PRICING</Button>
        </div>
    </div>
</section>