---
import { Icon } from "astro-icon";
import { social, links } from "../config";
---

<header class="h-24 absolute w-full overflow-hidden">
    <nav class="flex justify-between center h-full items-center">
        <ul class="flex sm:space-x-6 uppercase font-medium tracking-tight w-full justify-evenly sm:justify-start">
            {links.map(link => (
                <li><a class="p-2" href={`#${link.replace(" ", "")}`}>{link}</a></li>
            ))}
        </ul>
        <ul class="hidden sm:flex items-center space-x-2 sm:space-x-6 text-lg uppercase font-medium">
            {social.map(social => (
                <li class="hover:scale-110 transition-transform">
                    <a href={social.url} target="_blank" rel="noreferrer" aria-label={social.title}>
                        <Icon name={social.icon} className="h-6" />
                    </a>
                </li>
            ))}
        </ul>
    </nav>
</header>

<style>
    .link::after {
        content: "";
        /* display: block; */
        transform: scaleX(0);
        width: 2em;
        margin: auto;
        transition: transform 250ms ease-in-out;
        border-bottom: 2px solid theme("colors.text");
    }

    .active {
        background: blue;
        transform: scaleX(1);
    }
</style>

<script>
    document.querySelectorAll("a[href^='#']").forEach(el => el.addEventListener("click", () => {
        console.log("HEHHEHHAW", el)
        el.className += " active"
    }))
</script>
