
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Em'z Salon</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

	@tailwind base;
	@tailwind components;
	
	@layer base  {
		html {
			@apply font-inter bg-background text-text;
		}
	}

	@layer components {
		.center {
			@apply sm:px-10 px-6 max-w-screen-xl mx-auto;
		}
	}
</style>
