<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Em'z Salon - Hair, Nails & Beauty</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8"/>
		<meta name="robots" content="index, follow"/>
		<meta name="author" content="Lewis Thompson"/>
		<meta name="keywords" content="emz, em'z, salon, hair, nails, beauty, hair and nails, emily thompson, blackpool, vicarage ln, best salon, hairdressers, hairdresser, nail tech, barber, mens cut, shave, wax, massage, tint, facial"/>
		<meta name="generator" content={Astro.generator}/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta name="theme-color" content="#E3B8B5"/>
		<!-- TODO -->
		<!-- <!-- <meta name="description" content=""/> -->

		<meta property="og:title" content="Em'z Salon - Hair, Nails & Beauty"/>
		<meta property="og:creator" content="Lewis Thompson"/>
		<!-- <meta property="og:description" content=""/> -->
		<!-- <meta property="og:image" content="/images/og.jpg"/> -->

		<meta name="twitter:title" content="Em'z Salon - Hair, Nails & Beauty"/>
		<meta name="twitter:creator" content="Lewis Thompson"/>
		<!-- <meta name="twitter:description" content=""/> -->
		<!-- <meta name="twitter:card" content="summary_large_image"/> -->
		<!-- <meta name="twitter:image" content="/images/og.jpg"/> -->
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

	@tailwind base;
	@tailwind components;
	
	@layer base  {
		html {
			@apply font-inter bg-background text-text;
		}
	}

	@layer components {
		.center {
			@apply sm:px-10 px-6 max-w-screen-xl mx-auto;
		}
	}
</style>
